<!DOCTYPE HTML>
<html>
<head>
  <title>Job Tracker Jobs</title>
</head>
<body>
<div class="hero">
<h1>All Jobs</h1>
<%= button_to "New Job", new_job_path, method: "get", class: "new-job" %>
</div>

<% @jobs.each do |job| %>
  <section id="job-<%= job.id %>">
  <p><%= button_to "Edit", edit_job_path(job), method: "get", class: "edit-job" %></p>
  <p><%= button_to "Delete", job_path(job), method: "delete", class: "delete-job" %></p>
  <p><%= job.title %> at <%= job.company.name %></p>
  </section>
<% end %>
</body>
</html>