<%= form_for [ @company, @contact ] do |f| %>
  <p>
    <%= f.label :name, 'Name' %><br/>
    <%= f.text_field :name %>
    <%= f.label :role, 'Role' %><br/>
    <%= f.text_field :role %>
    <%= f.label :email, 'Email' %><br/>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
