<section>
  <h2><%= @company.name %></h2>
  <%= button_to 'Edit', edit_company_path(@company) %>
  <%= button_to 'Delete', company_path(@company), method: 'delete' %>
</section>

<section>
  <%= render partial: 'contacts/form' %>
  <%= render partial: 'companies/contact', collection:  @company.contacts %>
</section>

<section>
  <% @company.jobs.each do |job| %>
    <ul>
      Position as
      <a><%= link_to "#{job.title}", job_path(job), method: 'get' %></a>
      in the Category of
      <a><%= link_to "#{job.category.name}", category_path("#{job.category.id}"), method: 'get' %></a>
    </ul>
    </br>
  <% end %>
</section>
