<body>
    <section class='hero is-primary is-small is-bold'>
      <div class='hero-body'>
        <div class='container'>
          <h1 class='title is-1'>
            Categories
          </h1>
          <h2 class='subtitle'>
            <%= button_to 'New Category', new_category_path, method: 'get', class: 'button is-success'  %>
          </h2>
        </div>
      </div>
    </section>
<div id='category-list'>
  <% @categories.each do |category| %>
    <section id='category-<%= "#{category.id}" %>'>
      <%= link_to category.name, category_path(category) %>
      <%= button_to 'Edit', edit_category_path(category), method: 'get', class: 'edit-category' %>
      <%= button_to 'Delete', category_path(category), method: 'delete', class: 'delete-category' %>
    </section>
    </br>
  <% end %>
</div>
</body>
